body
{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.message{
	background-color: red;
	width: 50px;
	height: 50px;
}
.MainBox{
    width: 400px;
    height: 70%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50% , -50%);
	display: flex;
	flex-direction: column;
}
.name{
    font-size: 40px;
    color: #476e5f;
	text-align: center;
}
.photo{
	display: flex;
	justify-content: center;
}
.photo img{
    width:150px; 
    height: 150px;
    border-radius: 50%;
    margin-top: 10px;
}
form input[type="text"],form input[type="password"] {
    border :0;
	background :none;
	display: block;
	margin: 10px auto;
	text-align: center;
	border-bottom:2px solid #476e5f;
	padding :14px 10px;
	width: 250px;
	outline: none;
	color: #476e5f;
}
form input[type="submit"]{
    border :0;
    font-size: large;
	background-color :#476e5f;
	display: block;
	margin: 20px auto;
	text-align: center;
	padding :14px 10px;
	width: 270px;
    height: 50px;
	outline: none;
    color: aliceblue;
}
form input[type="submit"]:hover{
	background-color :#94aca4;
    cursor: pointer;
}
